<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>${1:Examples}</title>
<meta name="author" content="${author}(${email})">
${2:<meta name="description" content="$3">
<meta name="keywords" content="$4">
}<link href="/css/${5:mx}.css" rel="stylesheet">
</head>
<body>
    $0
    <script src="/script/jquery.min.js"></script>
    <script src="/script/${6:mx}.js"></script>
</body>
</html>